.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 10px;
  justify-items: center;
  padding: 30px 50px;
  width: 60%;
  margin: 0 auto;
  position: relative;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px; 
}

.load-more-button-container {
  text-align: center;
  margin-top: 20px;
}

.load-more-button {
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.load-more-button:hover {
  background-color: #e0e0e0;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
  }
}
